<%- include include/header.html%>
<div class="container">
    <ul class="media-list">
        <%
        for(var i=0;i<articles.length;i++){
        var article = articles[i];
        %>
        <li class="media">
            <div class="media-left">
                <a href="#">
                    <img class="media-object" src="<%= article.user.avatar%>" alt="<%= article.user.username%>">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading"><a href="/articles/detail/<%= article._id%>"><%= article.title%></a></h4>
                <p><%- article.content%></p>
                <%
                if(article.img){
                %>
                <img src="<%=article.img%>" style="width: 100px; height: 100px;" alt="">
                <%
                }
                %>

            </div>
        </li>
        <%
        }
        %>

    </ul>
</div>
<%- include include/footer.html%>